VERSION=
JWT_SECRET=
JWT_ADMIN_SECRET=
DB=
PORT=
NODE_ENV=
CORS_ORIGIN=*
MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME=
MAIL_TLS_REJECT_UNAUTHORIZED=true
ALLOW_ADMIN_REGISTER=false
ADMIN_SEED_EMAIL=admin@birchwood.local
ADMIN_SEED_PASSWORD=Admin@12345
